@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Custom Colors */
  --color-success: #10b981; /* Emerald-500 */
  --color-danger: #e11d48; /* Rose-600 */
}

/* Base Styles */
:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* Slate-900 */
    --foreground: #f8fafc; /* Slate-50 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
